<style>
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: unset;
        -webkit-overflow-scrolling: touch;
    }
</style>

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">最近的状态</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th> 商品信息 </th>
                                <th> 商品金额 </th>
                                <th> 商品库存 </th>
                                <th> 创建时间 </th>
                                <th> 编辑 </th>
                            </tr>
                            </thead>
                            <tbody>

                            {foreach $list as $v}
                            <tr>
                                <td>
                                    <img src="/assets/images/faces/face1.jpg" class="mr-2" alt="image"> {$v.goods_name} </td>
                                <td> ￥{$v.goods_price} </td>
                                <td> {$v.goods_number} </td>
                                <td> {$v.create_time} </td>

                                <td>
                                    <a class="badge badge-gradient-success" href="{:url('admin/goods/edit', ['id' => $v.id])}"> 编辑 </a>
                                    <a class="badge badge-gradient-danger" href="javascript:void(0);" onclick="if(confirm('确认删除？')) location.href='{:url(\'admin/goods/delete\', [\'id\' => $v.id])}'"> 删除 </a>
                                </td>
                            </tr>
                            {/foreach}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/misc.js"></script>